#ni {
    color: white;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: black;
}
p{
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.fasz{
    border-radius: 10px;
    border-color: black;
    border: 5px solid black;
    float: right;
    width: 768px;
    height: 366px;

}

li{
    font-weight: bolder;
    color: black;
    margin-left: 830px;
}

body{
    background-color: bisque ;
    margin: 80px;
}

.fasz2{ 
    font-size: 50px;
}

.fasz3{ 
    font-size: 50px;
}

.fasz4{
    border-radius: 10px;
    border-color: black;
    border: 5px solid black;
}

.fasz5{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Két oszlopos elrendezés */
  gap: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 450px;
  padding: 20px;
}

.spec-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text strong {
  color: #FF8C00; 
  font-size: 1.1rem;
  text-transform: uppercase; 
}

.text span {
  color: #666; 
  font-size: 0.9rem;
}

button{
    background-color: burlywood;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#nem{text-align: left;}